shamefully-hoist=true
strict-peer-dependencies=false
strict-builds=false
enable-pre-post-scripts=false
ignore-pnpmfile=true
ignore-workspace=true
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
registry=https://registry.npmmirror.com/
